.navi-header {
  background: #00141B;
  color: #fff;
  height: 180px;
  position: relative;
  user-select: none;
  display: flex;
  align-items: center;
  font-size: 28px;
  justify-content: center;
  span {
    position: absolute;
    right: 20px;
    font-size: 20px;
    border-radius: 2px;
    cursor: pointer;
    color: #1890ff;
    transition: all .4s;
    padding: 5px;
    &:hover {
      background-color: #34495e;
    }
  }
}
